# Python 编译缓存

__pycache__/
*.py[cod]
*$py.class

# Django 数据库文件
*.sqlite3

# 环境变量文件
.env
.env.*

# Pip 缓存文件
pip-log.txt
pip-delete-this-directory.txt

# 虚拟环境
venv/
env/
ENV/
.venv/
.ENV/

# 静态文件和媒体缓存（如果是自动生成的）
staticfiles/
media/

# Django 迁移历史缓存（可选）
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# VS Code / PyCharm 等 IDE 配置
.vscode/
.idea/

# 日志文件
*.log

# 本地调试数据库备份
*.bak
*.swp
*.swo
*.DS_Store

# settings
settings.py