<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/bootstrap.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="font-weight-bold h3 border" style="color:blue">PROFORMA INVOICE</div>
            <div class="border">Invoice No:</div>
            <div class="border">Invoice Date:</div>
            <div class="border">Due Date:</div>
          </div>
          <div class="col align-self-center text-end border">
            company-logo
          </div>
        </div>
      </div>
    </header> 
    {% comment %} </header>
    <header class="container-fluit-sm">
      <div class="container-header-title">
        <div id="proforma-invoice">
          PROFORMA INVOICE
        </div>
        <div class="font-normal">
          <div>Invoice No:</div>
          <div>Invoice Date:</div>
          <div>Due Date:</div>
        </div>
      </div>
      <div class="company-logo">Company logo</div>
    </header>
      <div class="container-details">
        <div class="billed-by">
          <p>
            <blod>Billed by</blod>
          </p>
          <p>
            <blod>Everwell Cable and Engineering Co., LTd</blod>
          </p>
          <p>Plot No.4-12, Block G, Dundani, Mkuranga, Cost Region, Tanzania</p>
          <p>
            <blod>Contacts:</blod>+255768 886 886 / +255657 777 772
          </p>
          <p>
            <blod>Email:</blod>info@everwellcable.com.cn
          </p>
          <p>
            <blod>TIN:</blod>127-682-879
          </p>
          <p>
            <blod>VRN:</blod>40-024528-W
          </p>
        </div>
        <div class="billed-to">
          <p>
            <blod>Billed to</blod>
          </p>
          <p>
            <blod>xxx Co., LTd</blod>
          </p>
          <p>Address1</p>
          <p>Address2</p>
          <p>
            <blod>Attn:</blod>+255768 886 886 / +255657 777 772
          </p>
          <p>
            <blod>TIN:</blod>xxx-xxx-xxx
          </p>
          <p>
            <blod>VRN:</blod>xx-xxxxxx-xx
          </p>
        </div>
      </div>
      <div class="container-main">
        <div class="row-tittle">
          <div>SN</div>
          <div>Inquiry</div>
          <div>Offer</div>
          <div>Unit</div>
          <div>QTY</div>
          <div>Unit Price</div>
          <div>Total Price</div>
        </div>
        <div class="row-detials">
          <div class="row1-detials">
            <div>1</div>
            <div>ACSR</div>
            <div>ACSR 100</div>
            <div>M</div>
            <div>240</div>
            <div>4200.000</div>
            <div>1,008,000</div>
          </div>
          <div class="row2-detials">
            <div>1</div>
            <div>ACSR</div>
            <div>ACSR 100</div>
            <div>M</div>
            <div>240</div>
            <div>4200.000</div>
            <div>1,008,000</div>
          </div>
        </div>
      </div>
      <div class="container-sum">
        <div class="sum-text">Thank you for your business</div>
        <div class="sum-details">
          <div>Sub Total(TZS):</div>
          <div>VAT 18%:</div>
          <div>Total Amount(TZS):</div>
        </div>
        <div class="nums">
          <div>num1</div>
          <div>num2</div>
          <div>num3</div>
        </div>
      </div>
      <div class="container-bankinfo-paymentterm">
        <div>
          <div>PAYMENT INFORMATION:</div>
          <div>
            Name of Account Holder(s)&#58;<br />EVERWELL CABLE AND ENGINEERING COMPANY LIMITED<br />Name of Commercial Bank&#58;CRDB Bank<br />Bank Account Number&#58;<br />TZS&#58; 0150299724300<br />USD&#58; 0250299724300<br />SWFIT&#58; CORUTZTZ
          </div>
          <div>TERMS AND CONDITIONS:</div>
          <div>
            1. Validity period of this PI: 7 Days.<br />2. Payment terms&#58; 100% will be paid before delivery.<br />3. Delivery terms&#58; EX-Warehouse.<br />4. It acceptable tolerance ±5% of total quantities.<br />5. The final payment according to the actual delivered quantities.
          </div>
        </div>
        <div class="signature">
          LIZHI DENG<br />Sales&Marketing Manager<br />+255 768 886 886
        </div>
      </div>
      <footer class="print-footer container-footer">
        <div class="website">www.everwellcable.com.tz</div>
        <div class="email">info@everwellcable.com.cn</div>
      </footer>
    </div> {% endcomment %}
  </body>
</html>
